*{
    user-select: none;
}
body {
    margin: 0;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    animation: firstt 5s;
   /* background: #222; /* Nowy kolor tła */
    color: #ddd; /* Nowy kolor tekstu */
    overflow: hidden;
    background-image: url(pexels-emily-ranquist-493228-1205651.jpg);
    background-size: cover;
    scroll-behavior: smooth;
}
@keyframes firstt {
    0%{
        background: #000;
    }
    80%{
        background: #000;
    }
    100%{
        background-image: url(pexels-emily-ranquist-493228-1205651.jpg); 
    }
}
.top {
    width: 100%;
    height: 100px;
    background-color: rgba(26, 26, 26, 0.7);
    display: grid;
    place-items: center;
    animation: first 5s;
    font-size: 40px;
}
@keyframes first {
    0%{
        margin-top: calc(100vh);
        border-bottom: none;
        color: #000;
        background: #000;
    }
    10%{
        margin-top: calc(100vh/2 - 50px);
        font-size: 60px;
    }
    49%{
        color: #000;
    }
    50%{
        color: #fff;
    }
    80%{
        margin-top: calc(100vh/2 - 50px);
        border-bottom: none;
        font-size: 60px;
        color: #fff;
        background: #000;
    }
}
.title-first {
    color: rgb(0, 180, 255); /* Nowy kolor akcentu */
}
.content {
    width: 100%;
    height: calc(100vh - 100px);
    /*background-color: #333; /* Nowy kolor tła contentu */
    animation: show 5s;
}
@keyframes show {
    0%{
        margin-top: calc(-100vh);
        visibility: hidden;
    }
    81%{
        margin-top: calc(-100vh);
        visibility: hidden;
    }
    100%{
        margin-top: 0;
        visibility: visible;
    }
}
.left-card {
    float: left;
    margin-left: 10%;
    margin-top: 4.5%;
    width: 30%;
    height: 80%;
    background: rgba(61, 61, 61, 0.8); /* Nowy kolor tła */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); /* Nowy kolor cienia */
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(61, 61, 61, 0.3); /* Nowy kolor obramowania */
    cursor: pointer;
    transition: 1s;
    font-weight: bold;
}
.left-card:hover{
    transition: 1s;
    transform: scale(1.05) rotate(5deg); /* Poprawka błędu w CSS */
}
.topic {
    margin: 5% auto -5% 5%;
    height: 1%;
    width: 30%;
    background-color: rgb(0, 180, 255); /* Nowy kolor kreski */
    transition: width 0.5s;
}
.left-card:hover .topic {
    width: 50%;
    background-color: #fff;
}
.card_content {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 30px;
    text-transform: uppercase;
}
.right-card {
    float: right;
    margin-right: 10%;
    margin-top: 4.5%;
    width: 30%;
    height: 80%;
    background: rgba(61, 61, 61, 0.8); /* Nowy kolor tła */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); /* Nowy kolor cienia */
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(61, 61, 61, 0.3); /* Nowy kolor obramowania */
    cursor: pointer;
    transition: 1s;
    font-weight: bold;
}
.right-card:hover{
    transition: 1s;
    transform: scale(1.05) rotate(5deg); /* Poprawka błędu w CSS */
}
.right-card:hover .topic{
    width: 50%;
    background-color: #fff;
}
@media screen and (max-width: 768px) {
    .top {
        height: 80px;
        background-color: rgba(26, 26, 26, 0.9);
        display: grid;
        place-items: center;
        font-size: 35px;
    }
    .content {
        height: calc(100vh - 80px);
    }
    .left-card, .right-card {
        width: 70%;
        height: 45%;
        margin: 4.5% 15% auto 15%;
        scale: 0.9;
    }
    .card_content{
        font-size: 35px;
    }
}